/*@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,600,700';*/

body {
	font-family: 'Open sans', sans-serif;
	padding:0;
	margin:0;
	background-color: #EFDC05;
}
 
#ball {
	-webkit-transition: all;
	transition: all;
	position:absolute;
	width:100px;
	height:100px;
	border-radius: 50%;
	background: #30A9DE;
	z-index: 5;
}

#box {
	position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
	padding: 15px;
	border-radius: 20px;
	max-width: 250px;
	font-size: 13px;
	color: #EFDC05;
  height: 150px;
  margin: auto;
	background-color: #090707;
	line-height: 150px;
	text-align: center;
	box-shadow: 0 0 100px rgba(0, 0, 0, 1);
}